/*.cards {*/
    /*clear: both;*/
/*}*/

/*.players {*/
    /*clear: both;*/
/*}*/

.cards ul li, .players ul li {
    list-style-type: none;
    float: left;
    position: relative;
    width: 120px;
}

#chatDiv, .players {
    clear: both;
}

#cardPanel {
    clear: both;
    width: 800px;
}

#stockCards {
    float: right;
    width: 120px;
}

#dropCards {
    float: left;
    width: 120px;
}

#main {
    clear: both;
    float: left;
}

#meDiv {
    float: left;
    width: 120px;
}

#myDef {
    float: right;
}

#cardImage {
    float: left;
    width: 120px;
}

#cardDescription {
    float: right;
    width: 120px;
}

#battleLog {
    float: left;
    width: 300px;
}

#playerInfo {
    width: 400px;
    height: 250px;
}

#battlefield {
    width: 800px;
}

.target:hover {
    cursor: grab;
}